td {
  width: 50px;
  height: 5vh;
  background-color: black;
}

#btn {
  width: 80px;
  height: 40px;
  color: black;
  background-color: #5fdd10;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

#over {
  color: aquamarine;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  border: 10px solid red;
  margin: 0 auto;
}

#target {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid red;
  margin: 0 auto;
}

.body {
  width: 80%;
  margin: auto;
  height: 90%;
}

#source {
  width: 16px;
  height: 16px;
  background-color: greenyellow;
  border-radius: 50%;
  border: 2px solid greenyellow;
  margin: 0 auto;
}

body {
  height: 100vh;
  background-color: gray;
}

#score {
  color: white;
}
